<ion-header>
  <ion-toolbar>
    <ion-button fill="clear"  [routerLink]="['/home']">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>
    <ion-title class="ion-text-center">Peliculas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="https://www.tonica.la/__export/1593800341189/sites/debate/img/2020/07/03/kimetsu-no-yaiba-the-movie-portada.jpg_1902800913.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Anime</ion-card-subtitle>
      <ion-card-title>La película de ‘Demon Slayer: Kimetsu no Yaiba’ se estrenará en Amazon Prime Video en septiembre

      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Después de su estreno en cines a principios de este año 2021, ‘Guardianes de la noche: Tren infinito’ llega a la famosa plataforma de ‘streaming’.
    </ion-card-content>
  </ion-card>
</ion-content>
