<ion-header>
  <ion-toolbar>
    <ion-button fill="clear"  [routerLink]="['/home']">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>
    <ion-title class="ion-text-center">Musica</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGsNk0g6iMaGcvK2TxSGmgFzqlyqp0Cdk6v5YiF__nZVfj2eUwyBp2sBNgoA3pTOV4iYs&usqp=CAU" />
    <ion-card-header>
      <ion-card-subtitle>Metal</ion-card-subtitle>
      <ion-card-title>SEVEN SPIRES: Vídeo de "The Unforgotten Name"
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      La banda de Metal Sinfónico SEVEN SPIRES ha presentado otro vídeo del álbum "Gods Of Debauchery", "The Unforgotten Name". En la canción participa el teclista y cantante John Pyres (AMONG THE GIANTS, SPAWN OF THIRTEEN, THREADS OF FATE).    </ion-card-content>
  </ion-card>
</ion-content>
